/* SPDX-License-Identifier: BSD-3-Clause-Attribution */

/* Disable UART1, for power saving. */
&uart1 {
	status = "disabled";
};

/ {
	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	};

	zephyr,user {
		/* Application ADC input: A0 is wired to SAADC channel 0 (AIN0 / P0.13). */
		io-channels = <&adc 0>;
	};

	aliases {
		led0 = &npm1300_led;
		led1 = &npm1300_led;
		led3 = &npm1300_led;
	};
};

&i2c2 {
	npm1300_pmic: pmic@6b {
		compatible = "nordic,npm1300";
		reg = <0x6b>;

		npm1300_led: leds {
			compatible = "nordic,npm1300-led";
			nordic,led0-mode = "host";
			nordic,led1-mode = "host";
			nordic,led2-mode = "host";
		};
	};
};
